<div class="App">
    <h1 class="App__title">@angular/cdk 예제</h1>

    <ul role="tablist" class="App__examples">
        <li role="tab">
            <a routerLink="/dialog" routerLinkActive="active">다이얼로그</a>
        </li>
        <li role="tab">
            <a routerLink="/tooltip" routerLinkActive="active">툴팁</a>
        </li>
        <li role="tab">
            <a routerLink="/menu" routerLinkActive="active">메뉴</a>
        </li>
    </ul>

    <div class="App__content">
        <router-outlet></router-outlet>
    </div>
</div>
